name: Shell Script Example (Generate ASCII ArtWork)

on: push

jobs:
    ascii-job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: List Repo file
              run: ls -ltra

            - name: Execute shell script
              run: |
                chmod +x .github/workflows/shell-script-demo.sh
                .github/workflows/shell-script-demo.sh


        
